<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacky.labeauty">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="com.S2i.s2i" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.jacky.labeauty.BeeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/beedee_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:label,android:theme">

        <activity
            android:name="com.jacky.labeauty.ui.function.login.LoadingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jacky.labeauty.ui.function.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>

        <activity
            android:name="com.jacky.labeauty.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="beedee.wxentry">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jacky.labeauty.ui.function.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.jacky.labeauty.ui.function.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.defake.DefakeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.login.RegisterFillInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.AccountAndSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.BindedMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.login.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.favorite.MyFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.UpdateNickNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.UpdateMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.defake.ScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.other.ShowBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.main.NewHotsGoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.discovery.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.main.OutFitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.discovery.GoodDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.main.OutFitDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.common.ImagePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.AppIntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.me.FeedbackProblemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jacky.labeauty.ui.function.other.WebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jacky.labeauty.logic.thridLogin.AuthDelegateActivity"
            android:theme="@style/transparentDisplay" />

        <activity
            android:name=".ui.function.me.integral.MyIntegralActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.function.me.LuckyPanelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.function.me.discount.MyDiscountsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.function.me.AdviceProblemActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.function.me.MessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.function.me.address.MyAddressActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.function.me.address.EditAddressActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!--qq login-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" />

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jacky.labeauty.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>